.placeHolderImg {
  display: block;
  width: 100%;
  min-height: 420px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.placeHolderImg>img {
  border-radius: inherit;
  transition: transform .4s;

  .project:hover & {
    transform: scale(1.01);
  }
}