:root {
  --black: #000;
  --very-dark: #171717;
  --dark-gray: #353535;
  --black-opacity8: rgba(0, 0, 0, .8);
  --light-gray: #b9b9b9;
  --light-gray-opacity8: rgba(238, 238, 238, .8);
  --very-light-gray: #eee;
  --white: #fff;
  --light-purple: #6363f3;
  --light-blue: #1f8bff;
  --light-cyan-green: #59d0e2;
  --cyan-green: #0dbdd8;
}