/* Ubuntu */
@font-face {
  src: url("../Fonts/Ubuntu/Ubuntu-Light.ttf"), format("ttf");
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf"), format("ttf");
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../Fonts/Ubuntu/Ubuntu-Medium.ttf"), format("ttf");
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../Fonts/Ubuntu/Ubuntu-Bold.ttf"), format("ttf");
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}