@import "../../Styles/mixins";

.footer {
  margin-top: 80px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@include small {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

.socialNav ul {
  display: flex;
  align-items: center;
}

.socialNav ul li {
  list-style: none;
  user-select: none;
}

.socialNav ul li a {
  display: block;
  border-radius: 6px;
  padding: 10px;
  @include prefix(filter, grayscale(1));

  &:focus-visible {
    transition: opacity .3s, filter .3s .2s;
    outline: solid 2px var(--cyan-green);
    @include prefix(filter, grayscale(0));
    opacity: 1;
  }
}

.socialNav ul li:not(:last-child) {
  margin-right: 20px;
}

.socialNav ul li svg {
  fill: var(--cyan-green);
  width: 22px;
  height: 22px;
}

.socialNav ul li :where(a, img) {
  opacity: .8;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
    @include prefix(filter, grayscale(0));
  }
}

.socialNav ul li img {
  max-width: 23px;
  min-width: 23px;
  object-fit: cover;
  opacity: .9;
}