@import "../../Styles/mixins";

.footer {
  margin-top: 80px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@include small {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

.copyright {
  color: var(--light-gray);
  font-size: .95rem;
}

@media (max-width: 767px) {
  .copyright {
    margin-bottom: 20px;
    text-align: center;
  }
}

.copyright a {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  margin: 0 4px;
  transition: color .2s;

  &:hover {
    color: var(--light-cyan-green);
  }
}

.socialNav ul {
  display: flex;
  align-items: center;
}

.socialNav ul li {
  list-style: none;
  user-select: none;
}

.socialNav ul li:not(:last-child) {
  margin-right: 30px;
}

.socialNav ul li i {
  color: var(--cyan-green);
  font-size: 26px;
}

.socialNav ul li a {
  text-decoration: none;
}

.socialNav ul li :is(a, img) {
  opacity: .6;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}

.socialNav ul li img {
  width: 26px;
  object-fit: cover;
  opacity: .9;
}