@import "src/Styles/mixins";

.footer {
  margin-top: 80px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@include small {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}