@import "../../Styles/mixins";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--black-opacity8);
  user-select: none;
  opacity: 0;
  pointer-events: none;
  @include center-x-y;
  transition: opacity .3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

@include large {
  .overlay {
    display: none;
  }
}

.imgHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}