@import "../../Styles/mixins";

.repos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 20px;
  column-gap: 16px;
  margin: 60px 0;
  transition: opacity .3s;
}

.repos .project:not(:hover) {
  opacity: .7;
}

.repos .project:focus-visible {
  opacity: 1;
}

.repos .project:has(:focus-visible) {
  opacity: 1;
}

@include small {
  .repos .project:not(:hover) {
    opacity: 1;
  }
}